body {
  margin: 0;
  background: #f5f6f8;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  gap: 20px;
}
.container p {
  margin-top: 0px;
}

h1 {
  text-align: center;
}

.card {
  max-width: fit-content;
  background: white;
  border-radius: 18px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
}

img {
  display: flex;
  max-width: 500px;
  max-height: 500px;
}

.mono {
  background: #000;
}

.number {
  margin-top: 15px;
  font-size: 42px;
  font-weight: bold;
  letter-spacing: 2px;
}
